.all_task-list{
margin: 5px auto;
}

.all_task-list label{
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
  font-size:18px;
  line-height: 22px;
  color: #000;
  text-indent: 10px;
  margin: 5px;  
}